body {
    background: #cfcdcd;
}

.container {
    width: 65%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

main {
    background: white;
    color: black;
    border-radius: 10px;
    border: 2px solid gold;
    padding: 15px;
    margin: 5px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 0 24px;
    overflow-wrap: break-word;
}

#email {
    width: 50%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

#comment {
    width: 50%;
    position: relative;
    margin-top: 10px;

}
